<div class="w-100  header {{isSticky == true ? 'header-fixed' : ''}}">
    <div class="w-90 d-flex m-auto">
        <div class="w-30 header-logo">
            <img src='assets/images/logo.png' alt="">
        </div>
        <div class="w-70 nav-bar">
            <ul class='header-nav float-right'>
                <li><a>Products</a></li>
                <li><a>Solutions</a></li>
                <li><a>Pricing</a></li>
                <li><a class='btn btn-bordered'>Login</a></li>
                <li><a class='btn btn-primary'>Get Started</a></li>
            </ul>
        </div>
    </div>
</div>