@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.float-right {
    float: right;
}

.m-auto {
    margin: auto;
}

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.header {
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 999;
    transition: .5s all;
}

.header-fixed {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #ccc;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul.header-nav {
    width: auto;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.header-nav>li {
    float: left;
    padding: 20px 30px;
}

.header-nav>li>a {
    text-decoration: none;
    color: #222222;
    font-size: 16px;
}

.btn {
    padding: 10px 35px;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.btn-bordered {
    border: 3px solid #663399;
    color: #663399 !important;
    background-color: #fff0;
}

.btn-primary {
    background-image: linear-gradient(45deg, #663399, #9F62C9);
    color: #fff !important;
}

.btn-white {
    background: unset;
    background-color: #fff !important;
    color: #663399 !important;
}

.header-logo>img {
    width: 90px;
    transition: .5s all;
}

.header-fixed .header-logo>img {
    width: 70px;
}

.banner {
    overflow: hidden;
    padding: 130px;
    position: relative;
}

.banner-bg-1 {
    position: absolute;
    top: 118px;
    left: -114px;
    z-index: -99999;
}

.banner-bg-1 img {
    width: 414px;
}

.banner-bg-2 {
    position: absolute;
    right: -74px;
    z-index: -99999999;
    top: -306px;
}

.banner-bg-2 img {
    width: 950px;
}

.banner-title,
.features-title {
    font-size: 36px !important;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1em;
    font-weight: 500;
}

.features-title {
    margin-bottom: 40px;
}

.features-content {
    color: #777777;
    font-family: 'Montserrat';
    font-size: 18px;
}

.title-underline {
    width: 150px;
    border-radius: 13px;
    display: block;
    height: 6px;
    background: #222222;
    margin-bottom: 30px;
}

.banner-left-img img {
    width: 450px;
}

.banner-left-dots {
    position: relative;
}

.banner-left-dots>img {
    position: absolute;
    right: 76px;
    width: 319px;
    top: -29px;
}

.form1 {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px #ccc;
    overflow: hidden;
    margin-right: 8px;
    background: #fff;
}

.form-title {
    font-size: 15px !important;
    background-color: #f5f5ff;
    font-family: 'Montserrat' !important;
    padding-left: 16px;
}

.form-image {
    position: absolute;
    bottom: 92px;
    right: 162px;
    z-index: -99;
}

.form-image img {
    width: 310px;
}

.form1 form {
    padding: 15px 33px;
}

.form-group {
    padding: 10px 0px;
}

.form-group label {
    font-size: 12px;
    font-family: 'Montserrat';
    color: #ccc;
    font-weight: 600;
}

.textbox {
    width: 90%;
    height: 22px;
    border: 0px;
}

.textbox:focus-visible {
    border: 0px;
    outline: none;
}

.input-group span {
    font-size: 18px;
    width: 9%;
    display: block;
}

.range-from {
    width: auto;
    float: left;
    font-family: 'Montserrat';
    font-size: 10px;
}

.range-to {
    width: auto;
    float: right;
    font-family: 'Montserrat';
    font-size: 10px;
}


/* .banner-forms {
    align-items: center;
    justify-content: center;
} */

.form-result {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-body {
    width: 100%;
    text-align: center;
    color: #fff;
}

.form-result {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
    background: #713da2;
    border-radius: 0px 13px 12px 0px;
}

.form-group p {
    font-size: 16px;
    font-family: 'Montserrat';
    letter-spacing: 1px;
}


/* .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    margin: 50vh auto 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.switch_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 200px;
    min-width: 200px;
    height: 200px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
} */


/* Switch 1 Specific Styles Start */

.box_1 {
    width: auto;
    float: right;
}

input[type="checkbox"].switch_1 {
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 37px;
    height: 21px;
    background: #ddd;
    border-radius: 6em;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked {
    background: #713da2;
}

input[type="checkbox"].switch_1:after {
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after {
    left: calc(100% - 1.5em);
}


/* Switch 1 Specific Style End */


/* Checked State */

.input_wrapper input[type="checkbox"]:checked {
    background: #23da87;
}

.input_wrapper input[type="checkbox"]:checked:after {
    left: calc(100% - 37px);
}

.input_wrapper input[type="checkbox"]:checked+.is_checked {
    -webkit-transform: translateX(0) translateY(-30%) scale(1);
    transform: translateX(0) translateY(-30%) scale(1);
}

.input_wrapper input[type="checkbox"]:checked~.is_unchecked {
    -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
    transform: translateX(-190%) translateY(-30%) scale(0);
}


/* Switch 4 Specific Style End */


/*Chrome*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type="range"] {
        width: 100%;
        background-color: #713da2;
        height: 3px;
    }
    input[type='range']::-webkit-slider-runnable-track {
        height: 2px;
        -webkit-appearance: none;
        color: #713da2;
        margin-top: 0px;
    }
    input[type='range']::-webkit-slider-thumb {
        width: 16px;
        -webkit-appearance: none;
        height: 16px;
        cursor: pointer;
        background: #713da2;
        border-radius: 100%;
        margin-top: -8px;
        border: 3px solid #fff;
        box-shadow: 0px 0px 3px 0px #ccc;
    }
}


/* .slidecontainer {
    width: 100%;
} */

.slider {
    -webkit-appearance: none;
    -webkit-transition: .2s;
}

select {
    width: 100%;
    height: 33px;
    outline: none;
    border: 0px;
    border-bottom: 1px solid #ccc;
}

.features-group {
    max-height: 850px;
    display: flex;
    /* flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px; */
}

.features-section {
    background-image: url(/assets/images/sol_wave_bg.svg);
    background-position-y: 75px;
    background-position-x: -72px;
}

.group {
    margin: auto 23px;
}

.icon-box {
    max-width: 284px;
    box-shadow: 0px 0px 56px 0px #e3e3e3;
    max-height: 190px;
    border-radius: 13px;
    padding: 24px 8px 6px 25px;
    background: #f9f9f9;
    transition: .5s all;
    margin-bottom: 58px;
}

.icon-box:hover {
    background: #713da2bf;
}

.icon>img {
    width: 80px;
}

.icon-box .title {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.icon-box:hover>.title {
    color: #fff;
}

.icon-box:hover>.box-content {
    color: #fff;
}

p.box-content {
    font-size: 13px;
    font-family: 'Montserrat';
}