<app-app-header></app-app-header>

<section>
    <div class="banner d-flex">
        <div class="banner-bg-1">
            <img src="assets/images/blob-small.svg">
        </div>
        <div class="banner-bg-2">
            <img src="assets/images/circle.svg">
        </div>
        <div class="w-50">
            <h4 class="banner-title">We make it Super <br> Simple</h4>
            <span class='title-underline'></span>
            <div class="banner-left-img">
                <img src="assets/images/collect_img-video.png">
            </div>
            <div class="banner-left-dots float-right">
                <img src="assets/images/accounting_dots.svg">
            </div>
        </div>
        <div class="w-50">
            <div class="banner-forms d-flex">
                <div class="form1">
                    <h1 class="form-title">Eligibility Calculator</h1>
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="monthlyIncome">Monthly Income</label>
                            <p><span>&#8377;</span> {{monthlyIncome}}</p>
                            <input type="range" class="slider" min="100000" max="300000" #incomeRanger (input)="monthlyIncome = incomeRanger.value">
                        </div>
                        <div class="form-group">
                            <label for="monthlyExpenses">Monthly Expenses</label>
                            <p><span>&#8377;</span> {{monthlyExpenses}}</p>
                            <input type="range" class="slider" min="0" max="100000" #expensesRanger (input)="monthlyExpenses = expensesRanger.value">
                            <div class="range-from">
                                <span>&#8377; 1,00,000</span>
                            </div>
                            <div class="range-to">
                                <span>&#8377; 3,00,000</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repaymentTenure">Repayment Tenure</label>
                            <div class="input-group d-flex">
                                <select>
                                    <option>6 Months</option>
                                    <option>9 Months</option>
                                    <option>12 Months</option>
                                    <option>24 Months</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="isExistingLoan">Do You have existing loans?
                                <div class="switch_box box_1">
                                    <input type="checkbox" class="switch_1">
                                </div>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="monthlyExpenses">EMI of existing loans (optional)</label>
                            <div class="input-group d-flex">
                                <span>&#8377;</span>
                                <input type="text" name="monthlyIncome" id="monthlyIncome" class="textbox">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-result">
                    <div class="result-body">
                        <div class="form-group">
                            <label>Loan Amount</label>
                            <p><span>&#8377;</span> {{monthlyIncome}}</p>
                        </div>
                        <div class="form-group">
                            <label>Your EMI will be</label>
                            <p><span>&#8377;</span> 1,00,000</p>
                        </div>
                        <button class='btn btn-primary btn-white'>Get Money</button>
                    </div>
                </div>
                <div class="form-image">
                    <img src="assets/images/accounting_dots.svg">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features-section">
    <div class="w-80 d-flex m-auto">
        <div class="w-70">
            <div class="features-group">
                <div class="group group1">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="assets/images/Get Paid Instantly@2x.png">
                        </div>
                        <h4 class="title">Quick cash disbursement</h4>
                        <p class='box-content'>
                            Get terms loans that your business needs within 72hrs.
                        </p>
                    </div>
                    <div class="icon-box">
                        <div class="icon">
                            <img src="assets/images/Get Paid Instantly@2x.png">
                        </div>
                        <h4 class="title">Quick cash disbursement</h4>
                        <p class='box-content'>
                            Get terms loans that your business needs within 72hrs.
                        </p>
                    </div>
                    <div class="icon-box">
                        <div class="icon">
                            <img src="assets/images/Get Paid Instantly@2x.png">
                        </div>
                        <h4 class="title">Quick cash disbursement</h4>
                        <p class='box-content'>
                            Get terms loans that your business needs within 72hrs.
                        </p>
                    </div>
                </div>
                <div class="group group2">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="assets/images/Get Paid Instantly@2x.png">
                        </div>
                        <h4 class="title">Quick cash disbursement</h4>
                        <p class='box-content'>
                            Get terms loans that your business needs within 72hrs.
                        </p>
                    </div>
                    <div class="icon-box">
                        <div class="icon">
                            <img src="assets/images/Get Paid Instantly@2x.png">
                        </div>
                        <h4 class="title">Quick cash disbursement</h4>
                        <p class='box-content'>
                            Get terms loans that your business needs within 72hrs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-30">
            <h1 class="features-title">Boost your business <br> with Open</h1>
            <span class="title-underline"></span>
            <p class='features-content'>
                Get your hands on a term loan that's<br>crafted for your business.
            </p>
            <button class="btn btn-bordered" [ngStyle]="{'marginTop': '50px'}">Get an Open Account</button>
        </div>
    </div>
</section>